form {
    margin: 45px;
}

label, input, textarea {
    margin-bottom: 10px;
    
}

label {
    color: white;
    font-family: Calibri;
   
}

input, textarea {
    width: 100%;
    padding: 8px;
    
}
#submit{
    width:512px;
}
input, textarea {
    background-color: rgb(146, 146, 146);
}