body{
    margin:0;
    padding: 0;
    background-color: #F6E5DC;
    font-family: Verdana;
}
#baner{
    background-color: #2F180C;
    text-align: center;
    height: 60px;
    color: khaki;
}
#panel_lewy{
    width: 60%;
    float: left;
}
#panel_prawy {
    font-size: 150%;
    padding: 70px;
    float: left;
}
#dolny {
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
    clear:both;
}
#stopka {
    background-color: #2F180C;
    color: khaki;
    height: 60px;
    clear: both;
}
#obraz{
    height: 350px;
}
#przycisk_1 {
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
}
#przycisk_2 {
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
}