body {
    background-color: rgb(0 0 0);
    margin-left: 290px;
    margin-right: 290px;
}
h1 {
    font-family: Calibri;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 25px;
}
h3 {
    font-family: Calibri;
    text-align: center;
    color: white;
    padding-top: 4px;
    font-size: 25px;
}
h4 {
    color: white;
    font-family: Calibri;
    font-weight: bolder;
    font-size: 25px;
    padding-left: 20px;
}
h6 {
    color: rgb(204 204 204);
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
}
iframe {
    padding-top: 10px;
    padding-left: 90px;
}
#naglowek {
    background-color: rgb(34, 34, 34);
    height: 100px;
    width: 769px;
}
#glowna {
    background-color: rgb(48, 48, 48);
    height: 550px;
    width: 769px;
}
#tablica {
    background-color: rgb(34, 34, 34);
    height: 525px;
    width: 165px;
    padding-top: 25px;
    float: left;
}
#tresc {
    background-color: rgb(48, 48, 48);
    height: 550px;
    width: 584px;
    float: left;
}
#copyright {
    font-family: Calibri;
    text-align: center;
    color: white;
    width: 769px;
}
#obraz_1{
    width: 430px;
    padding-left: 75px;
}
#obraz_2 {
    width: 300px;
    padding-left: 65px;
    float:right;
}
#obraz_3 {
    width: 170px;
    float: right;
}
#obraz_4{
    width: 210px;
    float: left;
    padding-left: 30px;
}
#obraz_5 {
    width: 320px;
    float: right;
    padding-right: 10px;
}
#obraz_6{
    width: 450px;
    padding-left: 80px;
    float: left;
}
#obraz_7{
    width: 250px;
    float:left;
    padding-right: 20px;
}
.linki {
    font-family: Calibri;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-left: 70px;
    text-decoration: none;
    
}
.linki:hover {
     font-family: Calibri;
     text-align: center;
     color: rgb(201 201 201);
     font-size: 25px;
     margin-left: 70px;
     text-decoration: none;
}
.linki2 {
    color: white;
    text-decoration: none;
    font-family: Calibri;
}
.linki3 {
    color: white;
    font-family: Calibri;
}